<div class="widget form-group">
  <div *ngIf="schema.title">
    <h5 class="header">{{ schema.title }}</h5>
    <div class="divider"></div>
    <div style="padding-top: 10px;"></div>
  </div>
  <div *ngIf="schema.description" class="formHelp row">
    <div class="col s12">
      <h6>{{schema.description}}</h6>
    </div>
  </div>
  <div class="task-entries" *ngFor="let itemProperty of formProperty.properties">
    <sf-form-element [formProperty]="itemProperty"></sf-form-element>
    <button (click)="removeItem(itemProperty)" class="btn grey-text text-darken-2 green lighten-2 btn-default array-remove-button">
      Remove Task
    </button>
    <div style="margin-bottom: 30px;"></div>
  </div>
  <a (click)="addItem()" class="btn grey-text text-darken-2 green lighten-2 btn-default array-add-button">
    Add Task
  </a>
</div>
