<div class="col s12">
  <form action="#">
    <div class="file-field input-field">
      <div [class.disabled]="hasOpenedFile()" (click)="chooseFile()" class="btn waves-effect waves-light">
        <span>Open file</span>
      </div>
      <div class="file-path-wrapper">
        <input [(ngModel)]="filePath" class="input-field" name="filePath" type="text">
      </div>
    </div>
  </form>
</div>
<div class="col s12">
  <form action="#">
    <p>
      <label>
        <input name="editor-view" type="radio" value="editor" (click)="setEditorMode()" [(ngModel)]="mode"/>
        <span>Editor</span>
      </label>
    </p>
    <p>
      <label>
        <input name="editor-view" type="radio" value="json" (click)="setJsonMode()" [(ngModel)]="mode"/>
        <span>JSON</span>
      </label>
    </p>
  </form>
</div>
<div class="col s12">
  <div class="row">
    <ul materialize="Tabs" class="tabs">
      <li class="tab col s3"><a class="active" routerLink="./" fragment="editor">Editor</a></li>
      <li class="tab col s3"><a routerLink="./" fragment="json">JSON</a></li>
      <li class="tab col s3"><a routerLink="./" fragment="log">Log</a></li>
    </ul>
    <div style="padding-top: 40px;"></div>
    <div id="editor" class="col s12">
      <form>
        <sf-form [schema]="schema" [(model)]="model"></sf-form>
      </form>
      <div style="padding-top: 40px;"></div>
    </div>
    <div id="json" class="col s12">
      <div ace-editor [text]="formattedModel" mode="json" theme="eclipse" [readOnly]="true" [durationBeforeCallback]="50" #editor></div>
    </div>
    <div id="log" class="col s12">
    </div>
  </div>
</div>
