<div class="col s12">
  <app-springcm-file-toolbar></app-springcm-file-toolbar>
</div>
<div class="col s12">
  <form action="#">
    <p>
      <label>
        <input name="editor-view" type="radio" (click)="setEditorMode()" [checked]="editorMode()"/>
        <span>Editor</span>
      </label>
    </p>
    <p>
      <label>
        <input name="editor-view" type="radio" (click)="setJsonMode()" [checked]="jsonMode()"/>
        <span>JSON</span>
      </label>
    </p>
  </form>
</div>
<div class="col s12">
  <div [hidden]="!editorMode()">
    <sf-form [schema]="schema" [(model)]="model"></sf-form>
  </div>
  <div [hidden]="!jsonMode()">
    <div ace-editor [text]="formattedModel" mode="json" theme="eclipse" [readOnly]="true" #editor></div>
  </div>
</div>
