<div class="col s12">
  <form action="#">
    <div class="file-field input-field">
      <div [class.disabled]="hasOpenedFile()" (click)="chooseFile()" class="btn waves-effect waves-light">
        <span>Open file</span>
      </div>
      <div class="file-path-wrapper">
        <input [(ngModel)]="filePath" class="input-field" name="filePath" type="text">
      </div>
    </div>
  </form>
</div>
<div class="col s12">
  <form action="#">
    <p>
      <label>
        <input name="editor-view" type="radio" (click)="setEditorMode()" [checked]="editorMode()"/>
        <span>Editor</span>
      </label>
    </p>
    <p>
      <label>
        <input name="editor-view" type="radio" (click)="setJsonMode()" [checked]="jsonMode()"/>
        <span>JSON</span>
      </label>
    </p>
  </form>
</div>
<div class="col s12">
  <div [hidden]="!editorMode()">
    <form>
      <sf-form [schema]="schema" [(model)]="model"></sf-form>
    </form>
    <div style="padding-top: 40px;"></div>
  </div>
  <div [hidden]="!jsonMode()">
    <div ace-editor [text]="formattedModel" mode="json" theme="eclipse" [readOnly]="true" [durationBeforeCallback]="50" #editor></div>
  </div>
</div>
