<div class="container">
  <h4 class="center header">SpringCM Import</h4>
  <div class="row">
    <div class="card z-depth-0">
      <div class="no-pad-card-action card-action">
        <app-springcm-import-items></app-springcm-import-items>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="header">If CaaS service is in alarm state</h5>
    <div class="divider"></div>
    <p>
      This typically occurs because the CaaS upload or import service is
      hanging. Open Windows Task scheduler, and select the service (ensure
      you are in the correct environment folder), and locate the task.
      Right-click the task and click "End".
    </p>
  </div>
  <div class="row">
    <a class="btn" routerLink="/springcm">Back</a>
  </div>
</div>
