<div class="container">
  <h4 class="center header">SpringCM Upload</h4>
  <div class="row">
    <div class="card z-depth-0">
      <div class="no-pad-card-action card-action">
        <app-springcm-upload-items></app-springcm-upload-items>
      </div>
    </div>
    <a routerLink="/platforms/springcm/import"><b>Looking for the import service?</b></a>
  </div>
  <div class="row">
    <h5 class="header">Configuration File Locations</h5>
    <div class="divider"></div>
    <p>
      The primary configuration files for CaaS services are:
    </p>
    <table>
      <tr>
        <th>Environment</th>
        <th>Machine</th>
        <th>User</th>
        <th>Location</th>
      </tr>
      <tr>
        <td>Production</td>
        <td>caas-ec2-services</td>
        <td>Administrator.AWS</td>
        <td>%USERPROFILE%/.config/caas</td>
      </tr>
      <tr>
        <td>Development</td>
        <td>caas-ec2-services</td>
        <td>Administrator.AWS</td>
        <td>%USERPROFILE%/.config/caas-dev</td>
      </tr>
    </table>
  </div>
  <br>
  <div class="row">
    <h5 class="header">If CaaS service is in alarm state</h5>
    <div class="divider"></div>
    <p>
      This typically occurs because the CaaS upload or import service is
      hanging. Open Windows Task scheduler, and select the service (ensure
      you are in the correct environment folder), and locate the task.
      Right-click the task and click "End".
    </p>
  </div>
  <div class="row">
    <a class="btn" routerLink="../">Back</a>
  </div>
</div>
