<div class="widget form-group">
  <h5 class="header">{{ schema.title }}</h5>
  <div class="divider"></div>
  <br>
  <div *ngIf="schema.description" class="formHelp row">
    <div class="col s12">
      <h6>{{schema.description}}</h6>
    </div>
  </div>
  <div class="task-entries" *ngFor="let itemProperty of formProperty.properties">
    <blockquote id="itemizedObjectBlockquote">
      <sf-form-element [formProperty]="itemProperty"></sf-form-element>
      <div class="right-align">
        <button (click)="removeItem(itemProperty)" class="btn grey-text text-darken-2 amber lighten-2 btn-default array-remove-button">
          Remove Item
        </button>
      </div>
    </blockquote>
    <div style="padding-top: 30px;"></div>
  </div>
  <a (click)="addItem()" class="btn grey-text text-darken-2 amber lighten-2 btn-default array-add-button">
    Add Item
  </a>
</div>
