@font-face {
  font-family: rommantis;
  src: url('./assets/font/rommantis.ttf'), url('./assets/font/rommantis.otf');
}

/* Get disabled links to interact correctly with the mouse */
a.disabled {
  pointer-events: none;
}

/* ngx-schema-form uses fieldset elements, which aren't styled by
 * Materialize out-of-the-box.
 */
fieldset {
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

/* The card-action style is used outside of normal cards, and this lets us
 * align the links better with normal content
 */
.no-pad-card-action {
  padding-left: 0px !important;
}

/* Gray out icons to give a "disabled" look */
img.disabled {
  opacity: 0.7;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.row-dense {
  margin-bottom: 0px !important;
}
